<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.26/jquery.autocomplete.min.js"></script>

	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  </head>
  <body>
	Search Query:
	<input type="text" name="names" id="autocomplete1"/>
  

  
  
	<script>
	// $('#autocomplete1').autocomplete({
	// 	serviceUrl: '/search/names',
	// 	dataType: 'json',
	// 	onSearchComplete: function (query, suggestions) {
	// 	  console.log(query);
	// 	}
	// });

	$('#autocomplete1').select2({
  ajax: {
    url: '/search/names',
    data: function (params) {
      var query = {
        query: params.term
      }
      // Query parameters will be ?search=[term]&type=public
      return query;
    },
	processResults: function (data) {
		console.log('%cSuggestions\n', 'font-size: 2em; color: coral', data)
      // Transforms the top-level key of the response object from 'items' to 'results'
	  const querySuggestions = data.suggestions.map(suggestion => {
		return {
			id: suggestion.value,
			text: suggestion.data
		  }
	  })
	//   console.log(querySuggestions)
      return {
        results: querySuggestions
      };
    }
  }
});
  
	// $('#autocomplete2').autocomplete({
	// 	serviceUrl: '/search/songs',
	// 	dataType: 'json',
	// 	onSearchComplete: function (query, suggestions) {
	// 	  console.log(query);
	// 	}
	// });
	</script>
  </body>